<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>~/daniel-cortes/{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon-32x32.png') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{{ url_for('index') }}" class="nav-brand">~/daniel-cortes</a>
            <a href="{{ url_for('blog.index') }}" class="nav-link">/blog</a>
            <a href="{{ url_for('projects.index') }}" class="nav-link">/projects</a>
            <a href="{{ url_for('recommended.index') }}" class="nav-link">/recomended</a>
            <a href="{{ url_for('now.index') }}" class="nav-link">/now</a>
            {% if g.user %}
            <a href="{{ url_for('blog.create') }}" class="nav-link logout">/create-post</a>
            <a href="{{ url_for('now.update') }}" class="nav-link logout">/update-now</a>
            <a href="{{ url_for('auth.logout') }}" class="nav-link logout">/logout</a>
            {% endif %}
        </div>
    </nav>

    <section class="container">
        <div class="row">
            <div class="content">
                {% block content %}{% endblock %}
            </div>    
            <div class="side">
                <p>Hola! Esta es mi pagina la cual se me ocurrio crear por que puedo y tengo que usar mi VPS para algo.</p>
                <p>Soy estudiante de Ingenieria Informatica y me gusta crear cosas en backend web y aplicaciones de escritorio por el momento.</p>
                <p>Como se nota, lo peor que hago es diseño, aunque algo se intenta.</p>

                <hr>

                <ul>
                    <li><a href="twitter.com/skrd159">@skrd159</a></li>
                    <li><a href="reddit.com/user/Ryuuji159">/u/ryuuji159</a></li>
                </ul>
                


            </div>
        </div>
    </div>
</body>
</html>
