{% extends 'base.html' %}

{% block title %}blog/"{{ post['title'] }}"{% endblock %}

{% block content %}

<section class="post">
    <article class="post-content">
        {{ post['html']|safe }}
    </article>
</section>

{% if g.user %}
<div class="row">
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
        <input type="submit" class="button-primary u-pull-right" value="delete" onclick="return confirm('Estas seguro?')">
    </form>
    <a href="{{ url_for('blog.update', id=post['id']) }}" class="button button-primary u-pull-left">update</a>
</div>
{% endif %}

{% endblock %}
