@import "~purecss/build/pure.css";
/******************************************************************************
    => Color definitions
*******************************************************************************/
$background-color: hsl(10, 20%, 99%);
$foreground-color: hsl(10, 10%, 13%);
$primary-color   : #0fa0ce; 
$admin-color     : #ee1155;


/******************************************************************************
    => General
*******************************************************************************/
body {
    color: $foreground-color;
    background-color: $background-color;
    overflow-y: scroll;
}

.container {
    max-width: 70ch;
    padding-bottom: 2ch;
    margin: auto;
}

img {
    max-width: 100%;
}

a {
    color: $primary-color;
}

.link {
    color: $primary-color;
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0;
}

p {
    line-height: 1.5rem;
}

/******************************************************************************
    => Forms 
*******************************************************************************/
.pure-form textarea {
    height: 20ch;
}

.pure-form input[type="text"],
.pure-form textarea {
    width: 100%;
}

.pure-form label {
    margin-top: 1em;
}

.pure-form .control {
    padding-top: 1em;
    width:100%;
    text-align: right;
}

.pure-form {
    border: 1px $foreground-color solid;
    background-color: darken($background-color, 5%);
    padding: 1em;
}

/******************************************************************************
    => Menu
*******************************************************************************/
.pure-menu-horizontal {
    display: flex;
    padding-left: 40ch;
    padding-right: 40ch;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 -5px 10px black;
}

.pure-menu-horizontal .pure-menu-list {
    display: flex;
    justify-content: right;
    width: 100%;
}

.pure-menu-link {
    color: $foreground-color;
}

.pure-menu-link:hover, .pure-menu-highlight {
    color: $primary-color;
    border-bottom: 1px $primary-color solid;
    background-color: transparent;
}

.pure-menu-heading {
    letter-spacing: .5ch;
    padding: .5em 0;
}

/******************************************************************************
    => Buttons & Links
*******************************************************************************/

.admin-link {
    color: $admin-color;
}

.admin-link:hover{
    color: $admin-color;
    border-bottom: 1px $admin-color solid;
    background-color: transparent;
}

.button-black-white {
    background-color: lighten($background-color, 10%);
    color: $foreground-color;
    border: $foreground-color solid 1px;
    border-radius: 0;
    min-width: 20ch;
}

.button-black-white:focus,
.button-black-white:hover {
    background-color: lighten($background-color, 10%);
    color: $foreground-color;
    border: $foreground-color solid 1px;
    background-image: none;
    box-shadow: inset 1px 1px 4px -2px $foreground-color;
}
.button-black-white:active{
    background-color: lighten($background-color, 10%);
    color: $foreground-color;
    border: $foreground-color solid 1px;
    background-image: none;
    box-shadow: inset 1px 1px 2px $foreground-color;
}

/******************************************************************************
    => Tables
*******************************************************************************/
.table-heading {
    margin-bottom: 1em;
}

.pure-table,
.pure-table thead,
.pure-table tbody{
    width: 100%;
}

.pure-table thead {
    background-color: lighten($background-color, 10%);
    border: 1px black solid;
}


.pure-table,
.pure-table td,
.pure-table th {
    border:none;
}

.pure-table td {
    word-wrap: break-word;
    max-width: 30ch;
}

.pure-table tr {
    border-bottom: 1px black solid;
}

.pure-table .controls {
    width: 16ch;
}

.pure-table .controls > *{
    display: inline-block;
}

.pure-table .controls .pure-button.button-black-white{
    min-width: auto;
    width: 7ch;
    padding: .5em 0;
}

.pure-table .controls :first-child {
    margin-right: 1ch;
}

