/**
 * Ryuuji 
 */

$colorfg: #212121;
$colorborder: #f2f2f2;
$color01: #0fa0ce;

body {
    color: $colorfg;
    line-height: 1.6em;
    font-size: 1.25em;
    max-width: 80ch;
    padding: 2rem;
    margin: auto;
}

hr {
    border: 1px solid $colorborder;
}

a {
    color: $colorfg;
}

.navbar {
    display: flex;
    border-bottom: 1px solid $colorborder;
}

.navbar-items {
    display: flex;
    list-style: none;
}

.navbar-item a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
    text-decoration: none;
    margin-left: 1em;
    color: $colorfg;

}
.navbar-item a:hover {
    color: $color01; 
}


@media only screen and (max-width: 768px) {
    .navbar-items, .navbar {
        flex-direction: column;
    }
}

