@import "~purecss/build/pure.css";
@import "colors.scss";


/******************************************************************************
    => General
*******************************************************************************/
body {
    color: $foreground-color;
    background-color: $background-color;
    overflow-y: scroll;
}

.container {
    max-width: 80ch;
    padding-bottom: 2ch;
    margin: auto;
}

.container.wide {
    max-width: 100ch;
}

@media (min-width: 768px){
    .container {
        margin-top: 6em;
    }
}

img {
    max-width: 100%;
    cursor: pointer;
}

a {
    color: $primary-color;
}

p {
    line-height: 1.5rem;
}


article {
    box-shadow: 3px 3px 10px 0px #aaa;
    padding: 2ch 2ch;
    margin-bottom: 2em;
    background-color: lighten($background-color, 10%);
    overflow-x: auto;
}

@media (min-width: 768px) {
    article {
        padding: 2ch 10ch;
        overflow-x: none;
    }
}

.post-title {
    text-decoration: none;
    letter-spacing: .1ch;
    color: $foreground-color;
}

time {
    color: lighten($foreground-color, 40%);
}

/******************************************************************************
    => Forms 
*******************************************************************************/
.pure-form textarea {
    height: 25ch;
    resize: vertical;
}

.pure-form input[type="text"],
.pure-form textarea {
    width: 100%;
}

.pure-form input[type="text"],
.pure-form input[type="email"],
.pure-form input[type="password"],
.pure-form textarea {
    border-radius: 0;
    border: 1px $foreground-color solid;
    box-shadow: none;
    background-color: lighten($background-color, 10% );
}

.pure-form label {
    margin-top: 1em;
}

.pure-form .control {
    width: 100%;
    padding-top: 1em;
    text-align: right;
}

/******************************************************************************
    => Menu
*******************************************************************************/
.menu {
    padding-top: 2ch;
    padding-bottom: 2ch;
    box-shadow: 0px 3px 5px 0px #ccc;
    background-color: $background-color;
    z-index: 1;
}

.menu-list {
    display: flex;
    flex-direction: column;
    max-width: 80ch;
    margin: auto;
    padding-left: 10ch;
    list-style: none;
}

.menu-item {
    margin: 0;
    padding: .5ch 0;
    height: 100%;
}


.menu-link,
.menu-heading {
    display: inline-block;
    text-decoration: none;
    color: $foreground-color;
    width: 100%;
}

.menu-link:hover,
.menu-heading:hover,
.menu-highlight {
    color: $primary-color;
}

.menu-heading {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1ch;
    letter-spacing: .5ch;
}


@media (min-width: 768px){
    .menu {
        width: 100%;
        position: fixed;
        height: 1.75em;
        top: 0;
    }
    .menu-list {
        flex-direction: row;
        align-items: center;
        padding-left: 0;
    }
    
    .menu-link, .menu-heading {
        width: auto;
    }

    .menu-item{
        margin-left: 1em;
    }

    .menu-heading {
        flex-grow: 1;     
        margin-bottom: 0;
    }
}

.separator {
    width:100%;
    height: 2px;
    margin-bottom: 1em;
    box-shadow: 0px 10px 10px #ccc;
}

/******************************************************************************
    => Buttons & Links
*******************************************************************************/

.pure-button {
    letter-spacing: .2em;
    min-width: 20ch;
    border-radius: 0;
    background-image: none;
    border: none;
}

.pure-button:focus,
.pure-button:hover,
.pure-button:active{
    background-image: none;
}

.special-link {
    color: $admin-color;
}

.special-link:hover{
    color: lighten($admin-color,10%);
    background-color: transparent;
}

.button-black-white {
    background-color: lighten($background-color, 10%);
    color: $foreground-color;
    border: $foreground-color solid 1px;
}

.button-black-white:focus,
.button-black-white:hover {
    background-color: lighten($background-color, 10%);
    color: $foreground-color;
    box-shadow: inset 1px 1px 4px -2px $foreground-color;
}
.button-black-white:active{
    background-color: lighten($background-color, 10%);
    color: $foreground-color;
    box-shadow: inset 1px 1px 2px $foreground-color;
}

/******************************************************************************
    => Tables
*******************************************************************************/

.pure-table {
    margin-top: 1em;
}

.pure-table,
.pure-table thead,
.pure-table tbody{
    width: 100%;
}

.pure-table thead {
    background-color: lighten($background-color, 10%);
    border: 1px black solid;
}


.pure-table,
.pure-table td,
.pure-table th {
    border:none;
}

.pure-table td {
    word-wrap: break-word;
    max-width: 30ch;
}


.pure-table tr {
    border-bottom: 1px black solid;
}

.pure-table .controls {
    width: 10ch;
}

@media (min-width: 768px){
    .pure-table .controls {
        width: 22ch;
    }
}

.pure-table .controls > *{
    display: inline-block;
}

.pure-table .controls .pure-button.button-black-white{
    min-width: auto;
    width: 10ch;
    padding: .5em 0;
}

.pure-table .controls :first-child {
    margin-right: 1ch;
}

