@import "~base16-prism/themes/base16-material-darker.css";

pre[class*="language-"] {
    border-radius: 5px;
    border: none;
}

code[class*="language-"], pre[class*="language-"] {
    font-family: 'Hack', monospace;
    font-size: 0.9em;
    line-height: 1.2em;
    text-shadow: none;
}


