/**
 * Ryuuji 
 */

body {
  color: #212121;
  max-width: 80ch;
  padding: 2rem;
  margin: auto;
}

hr {
  border: 1px solid #f2f2f2;
}

.navbar {
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}

.navbar-items {
  display: -webkit-flex;
  display: flex;
  list-style: none;
}

.navbar-item a {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: none;
  margin-left: 1em;
  color: #212121;
}

.navbar-item a:hover {
  color: #0fa0ce;
}

@media only screen and (max-width: 768px) {
  .navbar-items,
  .navbar {
    -webkit-flex-direction: column;
            flex-direction: column;
  }
}

