/******************************************************************************
=> MAIN STYLES 
 *******************************************************************************/
:root {
  --background-color: hsl(10, 20%, 98%);
  --foreground-color: hsl(10, 10%, 13%);
  --light-color: hsl(10, 10%, 40%);
  --primary-color: hsl(290, 86%, 43%);
  --highlight-color: hsl(200, 90%, 40%);
  --sans-font: "Source Sans Pro";
  --mono-font: "Source Code Pro";
}

html {
  margin: 2em;
}

body {
  background-color: var(--background-color);

  font-family: var(--sans-font), "sans-serif";
  font-size: 14pt;
  color: var(--foreground-color);

  overflow-y: scroll;

  max-width: 100ch;
  padding: 0 0 20em;
  margin: auto;
}

code {
  font-family: "Source Code Pro", "monospace";
}

h1, h2 { margin: 0 0 .3em 0; }

h1 { font-size: 3em; }

h2 { font-size: 1.875em; }

time { color: var(--light-color); }

p {
  margin: 0 0 1em 0;
  line-height: 1.5em;
  text-align: justify;
}

a, a:visited { 
  font-weight: 600;
  color: var(--primary-color); 
}

a:hover { color: var(--highlight-color); }

img {
  max-width: 100%;
  cursor: pointer;
}

.container {
}

.codehilite {
  overflow-x: auto;
  padding: .7em 2em;
}
