/******************************************************************************
=> MAIN STYLES 
 *******************************************************************************/
:root {
  --background-color: hsl(10, 20%, 98%);
  --foreground-color: hsl(10, 10%, 13%);
  --light-color: hsl(10, 10%, 40%);
  --primary-color: hsl(290, 86%, 43%);
  --highlight-color: hsl(290, 57%, 30%);
  --sans-font: "sans-serif";
  --mono-font: "monospace";
}

html { 
  margin: 2em; 

  background-color: var(--background-color);

  font-family: var(--sans-font);
  font-size: 14pt;
  color: var(--foreground-color);
}

body {
  overflow-y: scroll;
  max-width: 100ch;
  padding: 0 0 20em;
  margin: auto;
}

code {
  font-family: var(--mono-font);
}

h1, h2 { margin: 0 0 .3em; }
h1 { font-size: 3em;}
h2 { font-size: 1.875em; }

time { color: var(--light-color); }

p {
  margin: 0 0 1em;
  line-height: 1.5em;
  text-align: justify;
}


li { padding: .3em .5em; }

li a { font-size: 1.2em; }

a, a:visited { 
  font-weight: 400;
  color: var(--primary-color); 
}

a:hover { 
  color: var(--highlight-color);
}

img {
  max-width: 100%;
  cursor: pointer;
}

.codehilite {
  overflow-x: auto;
  padding: .7em 2em;
  margin-bottom: 1.5em;
}

